<div class="container">
  <h1 class="col-lg-12">Pubs</h1>
  <div class="col-lg-2"></div>
    <div class="row">
      <% pubs.forEach((pub) => { %>
        <div class="col-md-4">
        <a href="/pubs/<%= pub.id %>">
        <h2><%= pub.name %></h2>
        </a>
        <p><%= pub.address %></p>
        <img src="<%= pub.src %>">
        <% if(locals.isAuthenticated) { %>
          <div>
            <a href="/pubs/<%= pub.id %>/edit" class="btn btn-outline-secondary edit">Edit Pub</a>
            <form action="/pubs/<%= pub.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE"/>
              <button class="btn btn-outline-danger delete">Delete Pub</button>
            </form>
          </div>
          <% } %>
        </div>
      <% }) %>
    </div>
    <% if(locals.isAuthenticated) { %>
      <div class="row">
      <a href="/pubs/new" class="btn btn-outline-primary" class="col-lg-2">Add</a>
      </div>
      <% } %>
</div>
