
<section class="container">
  <div class="wrapper">
    <img class="pubImage ing-responsive" src="<%= pub.pubImage %>">
    <div class="overlay">
      <h1><%= pub.name %></h1>
      <h3>Address: </h3><p><%= pub.address %></p>
      <h3>Expensiveness: </h3><p> <%= pub.expensiveness %></p>
      <h3>Atmosphere: </h3><p><%= pub.atmosphere %></p>
    </div>
  </div>

  <h3>Reviews</h3>
  <% pub.comments.forEach((comment) => { %>
    <p class="review"><%= comment.content %></p>
    <small><%= comment.createdBy.username %></small>

    <% if(locals.isAuthenticated && comment.ownedBy(user)) { %>
      <form method="POST" action="/pubs/<%= pub.id %>/comments/<%= comment.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete review</button>
      </form>
    <% } %>
  <% }) %>
  </section>
  <section class="container">
    <% if(locals.isAuthenticated) { %>
      <form method="POST" action="/pubs/<%= pub.id %>/comments">
        <textarea name="content" id="content" placeholder="Review" rows="1" cols="20" class="form-control"></textarea>
        <button>Leave a review</button>
      </form>
    <% } %>
  </section>
  </div>
</section>
<script>
$('.hero').css('background-image': '<%= pub.pubImageSRC %>');
});
</script>
